:root {
    --color--: rgb(240, 176, 229);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
}

.col {
    text-align: center;
    background-color: #fff;
    background-clip: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
}

.logo a {
    float: left;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: black;
    line-height: 2em;
}

.header {
    box-shadow: lightgrey 0px 1px 0px 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.heedeer {
    background-color: #fff;
}


/* .heder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
} */

.logo span {
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: rgb(190, 41, 153);
}

.middle a {
    text-decoration: none;
    color: rgb(134, 132, 132);
    justify-content: space-around;
    margin-left: 15px;
    font-size: 15px;
    line-height: 3em;
}

.middle a:hover {
    color: rgb(190, 41, 128);
}

.icon {
    float: right;
    line-height: 3em;
}

.icon i {
    font-size: 20px;
    margin-left: 5px;
}

.icon i:hover {
    color: rgb(190, 41, 128);
}


/* home-page */

.img-home {
    background-image: url(/assets/images/home-bg.jpg);
    height: 100vh;
    background-color: rgb(226, 196, 196);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-home {
    margin-top: 250px;
    background-color: #f8e3e8;
    text-align: left;
    line-height: 15px;
}

.text-home h1 {
    font-size: 4rem;
    line-height: 50px;
}

.text-home h2 {
    font-weight: lighter;
    font-size: 4vh;
    color: #eb46a1;
    line-height: 6vh;
}

.text-home a,
.videotexta {
    line-height: 50px;
    border: 0.5vh solid black;
    padding: 8px 30px;
    background-color: #080506;
    text-decoration: none;
    color: white;
    border-radius: 3vh;
    font-size: smaller;
}

.text-home a:hover,
.videotexta:hover {
    background-color: #cd0473;
    border: 0.5vh solid #cd0473;
    animation: hovera ease-in 0.5s;
}

@keyframes hovera {
    from {
        background-color: black;
        border: 0.5vh solid black;
    }
    to {
        background-color: #cd0473;
        border: 0.5vh solid #cd0473;
    }
}

.text-home p.text1 {
    background-color: rgb(216, 182, 182);
    width: 45vh;
    font-size: 3vh;
    padding: 3px;
}

.text-home p.text2 {
    color: gray;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1em;
}


/* about us */

.videotext1,
.videotext2 {
    color: gray;
    margin-bottom: 15px;
}

.About {
    margin: 30px 0;
}

.About h2 {
    background-color: #fdeef1;
    line-height: 4rem;
    font-size: xx-large;
}

.About span {
    color: #cd0473;
}

video {
    width: 100%;
    height: 100%;
    border: white 10px solid;
    box-shadow: #cecaca 0px 0px 5px 1px;
}

.Video {
    position: relative;
}

.Video h2 {
    position: absolute;
    top: 170px;
    right: 21px;
    left: 21px;
    font-weight: 900;
    color: #000;
    /* border: 1px solid white;
    height: 100px;
    position: absolute;*/
    background: white;
    /*  -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
    mix-blend-mode: screen;
}

.videotext {
    text-align: left;
    margin-top: 85px;
}

.videotext h1 {
    /* text-align: left; */
    /* margin-top: 85px; */
    line-height: 60px;
    font-size: 3em;
}


/* benefit */

.benefit {
    background-color: rgb(230, 227, 227);
}

.about i {
    margin: auto 0;
    width: 100px;
    font-size: 3rem;
    color: var(--color--)
}

.option {
    text-align: left;
    width: 100%;
    padding: 15px;
}

.option4 {
    padding: 1rem 2rem;
}

.about4 {
    margin-top: 50px;
}

.about {
    display: flex;
    width: 100%;
    height: 70px;
}

.about img {
    padding: 2%;
}

.option .footer .footer-option {
    font-size: 19px;
    font-weight: bolder;
}

.option-title {
    font-size: 14px;
    font-weight: 700;
}

.option p {
    font-size: small;
    margin-top: 5px;
    color: rgb(83, 74, 74);
}

.option-icon {
    text-align: center;
    width: 40px;
    padding: 12px;
    border: 1px lightgray solid;
}


/* 
item
 */

.images {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-column-gap: 3px;
    /* grid-template-columns: repeat(auto-fit, value); */
    /* minmax(200px, 1fr) */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.images4 {
    margin-top: 2px;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-column-gap: 1px;
    /* grid-template-columns: repeat(auto-fit, value); */
    /* minmax(200px, 1fr) */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.image-item,
.image-item4 {
    height: 300px;
    box-shadow: #d8d2d2 0px 0px 25px 4px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.image-item img {
    width: 205px;
    height: 190px;
    object-fit: cover;
    margin-top: 30px;
}

.image-item:hover img,
.image-item4:hover img {
    animation: imgitem 1s ease;
}

@keyframes imgitem {
    to {
        transform: scale(1.1);
    }
}

.image-item4 img {
    width: 205px;
    height: 190px;
    object-fit: cover;
    margin-top: 30px;
}

.name-item {
    margin-top: 20px;
    font: 1em;
    font-weight: 900;
    font-family: 'Yaldevi', sans-serif;
    text-indent: 100;
}

.price-item-after {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 10px;
    color: #cd0473;
}

.price-item-before {
    color: rgb(163, 155, 155);
    text-decoration: line-through;
    font-weight: bolder;
    font-size: 10px;
    margin-right: 10px;
    z-index: 1;
}

.discount {
    position: absolute;
    background-color: whitesmoke;
    color: #cd0473;
    font-weight: bolder;
    font-size: 12px;
    top: 10px;
}

.discount4 {
    left: 15px;
    position: absolute;
    background-color: whitesmoke;
    color: #cd0473;
    font-weight: bolder;
    font-size: 12px;
    top: 10px;
}

.cart {
    display: none;
    position: absolute;
    font-size: inherit;
    font-family: inherit;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    background-color: rgb(207, 27, 102);
    align-items: center;
    top: 12rem;
    right: 0;
    left: 0;
    height: 40px;
}

@keyframes itemcart {
    from {
        transform: translateY(30px);
        background-color: transparent;
    }
    to {
        transform: translateY(1px);
    }
    20% {
        background-color: transparent;
        color: transparent;
    }
    75% {
        background-color: rgb(207, 27, 102);
        color: white;
    }
}

.image-item:hover .cart,
.image-item4:hover .cart {
    display: flex;
    animation: itemcart ease 2s;
}

.cart div {
    padding-right: 46px;
    padding-left: 46px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.cart .c4 {
    padding-right: 74px;
    padding-left: 74px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.cart i {
    padding-right: 12px;
    padding-left: 12px;
}

.cart .first {
    padding-right: 12px;
    padding-left: 12px;
}


/* review */

.Comments {
    text-align: left;
    box-shadow: lightgrey 0px 1px 10px 0px;
    padding: 5px;
}

.imgcostumer {
    display: flex;
    width: 100%;
    height: 70px;
}

.star i {
    color: #cd0473;
    margin-bottom: 10px;
    margin-top: 10px;
}

.infcostumer {
    font-size: 19px;
    font-weight: bolder;
}

.Comments p {
    font-size: 13px;
    color: gray;
    line-height: 30px;
}

.imgcostumer img {
    border: 10px solid white;
    border-radius: 225%;
}

.names-costumer {
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
}


/* contact */

.form-group {
    margin-top: 15px;
    border: 2px solid rgb(238, 232, 232);
    padding: 12px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(248, 247, 247);
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
}

.form {
    line-height: 50px;
    border: 1px solid;
    padding: 8px 30px;
    background-color: #080506;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    font-size: smaller;
    left: 0;
}

.text-contact {
    border: 1px solid gray;
    padding: 10px;
    margin-top: 55px;
    border-radius: 10px;
}

.form-groupsend {
    margin-top: 15px;
    border: 2px solid rgb(0 0 0);
    padding: 6px;
    display: flex;
    border-radius: 40px;
    background-color: rgb(0 0 0);
    color: #fff;
    width: 100px;
    cursor: pointer;
}

.form-groupsend:hover {
    border: solid 2px #cd0473;
    background-color: #cd0473;
}

.form-inputsend {
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
    color: rgb(255, 255, 255);
}

.footer {
    width: 100%;
    /* margin-top: 10%; */
    padding: 12px;
}

.footer1 {
    text-align: left;
    line-height: 30px;
}

.footer-option {
    font-weight: bolder;
    margin-bottom: 20px;
}

.footer span {
    font-weight: normal;
    font-size: small;
    color: rgb(119, 116, 116);
}

.footer1 p {
    font-size: small;
    color: rgb(119, 116, 116);
}

.footer1 p:hover {
    color: #cd0473;
}

.img-footer {
    margin-bottom: 10%;
    width: 195px;
    height: 20px;
}

.footer-support {
    position: relative;
}

.footer-row {
    border-bottom: 1px solid rgb(221, 209, 209);
}

.bottom-footer span {
    color: #cd0473;
    border-right: 1px solid black;
}


/*mobile*/

.nav__bars-btn i {
    font-size: 34px;
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

a.menu-mobile-link {
    border: 1px silver;
    margin: 12px;
    font-size: 18px;
    text-align: left;
    color: gray;
    padding-left: 20px;
    background-color: #fff;
    box-shadow: #909094 0px 21px 122px -5px;
    margin: 2vh 4vh;
}

.menu-mobile-link a:hover {
    color: #cd0473;
}

.nav__mobile {
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    /* width: 280px; */
    max-width: 100%;
    background-color: rgb(228 232 229);
    transform: translateY(-150%);
    z-index: -1;
}

.menu-mobile-link {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    line-height: 40px;
    color: black;
}

.nav__input:checked~.nav__mobile {
    transform: translateY(0%);
    transition: 0.8s ease-out;
    animation: fadein 0.8s ease-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1123px) and (min-width: 741px) {
    .nav__bars-btn i {
        display: block;
        float: left;
        border: 1px solid black;
        border-radius: 5px;
    }
    .logo a {
        float: inherit;
    }
    .text-home {
        background-color: #f8e3e8;
        text-align: left;
        line-height: 15px;
    }
    .Video h2 {
        position: absolute;
        top: 80px;
        right: 13px;
        left: 13px;
        font-weight: 900;
        color: #000;
        background: white;
        mix-blend-mode: screen;
    }
    .videotext {
        text-align: left;
        margin-top: 20px;
    }
    .discount {
        position: absolute;
        background-color: whitesmoke;
        color: #cd0473;
        font-weight: bolder;
        font-size: 12px;
        top: 0px;
        left: 10px;
    }
    .col.l-12.m-12.c-12.bottom {
        padding: 0 20px;
        padding-bottom: 40px;
    }
    .images {
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-column-gap: 3px;
        /* grid-template-columns: repeat(auto-fit, value); */
        /* minmax(200px, 1fr) */
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
    .images4 {
        margin-top: 2px;
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-column-gap: 3px;
        /* grid-template-columns: repeat(auto-fit, value); */
        /* minmax(200px, 1fr) */
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
    .img-home {
        background-image: url(/assets/images/hong.jpg);
        height: 100vh;
        background-color: rgb(226, 196, 196);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .Products-flo {
        width: 95%;
    }
    .text-contact {
        border: 1px solid gray;
        padding: 10px;
        margin-top: 1px;
        border-radius: 10px;
    }
}

@media (max-width: 740px) {
    .nav__bars-btn i {
        display: block;
        float: left;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 25px;
        padding: 0 5px;
        margin-left: 3vh;
        /*  margin-top: 1vh; */
    }
    .nav__pc {
        display: none;
    }
    .logo a {
        float: inherit;
    }
    .img-home {
        background-image: url(/assets/images/hong.jpg);
        height: 100vh;
        background-color: rgb(226, 196, 196);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .text-home {
        margin-top: 180px;
        background-color: #fee3e8;
        text-align: left;
        line-height: 15px
    }
    .Video h2 {
        position: absolute;
        top: 80px;
        right: 13px;
        left: 13px;
        font-weight: 900;
        color: #000;
        background: white;
        mix-blend-mode: screen;
    }
    .videotext {
        text-align: left;
        margin-top: 20px;
    }
    .discount {
        position: absolute;
        background-color: whitesmoke;
        color: #cd0473;
        font-weight: bolder;
        font-size: 12px;
        top: 0px;
        left: 10px;
    }
    .cart div {
        padding-right: 95px;
        padding-left: 95px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .cart .c4 {
        padding-right: 95px;
        padding-left: 95px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .col.l-12.m-12.c-12.bottom {
        padding: 0 20px;
        padding-bottom: 40px;
    }
    .text-home h1 {
        font-size: 7vh;
        line-height: 50px;
    }
    .option4 {
        padding: 0rem 2rem;
    }
    .Products-flo {
        width: 95%;
    }
}